
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');



.initialLoader {
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.routeLoader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

