/* .btn {
    font-size: 18px;
    color: white;
}

.sidebar {
     background-color: rgb(14, 12, 12);
    color: white;
    font-size: 18px;
}

.btn1 svg {
    width: 25px;
    height: 25px;
    color: white;
}

.nav_link {
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 20px;
} */

.sidebar {
   background-color: rgb(14, 12, 12);
  height: 100%;
  padding: 20px;
  color: white;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #bbb;
  font-size: 16px;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 8px;
}

.nav_link:hover {
  background-color: #1f1f1f;
  color: white;
}

.active {
  background-color: #333;
  color: #00bcd4;
  font-weight: bold;
}

.icon {
  font-size: 18px;
}

.label {
  flex-grow: 1;
}

.btn1 {
  color: white !important;
   background-color: rgb(14, 12, 12);
  margin: 10px;
}
